<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Dev Skills Lab (Deliverable)</h1>
    <a href="/skills">Skills List</a>
    <p>Click Link to see Express dev skills</p>
  </body>
</html>
